{% load static %}
<!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
      <a href="{% url 'home' %}" class="app-brand-link">
        <span class="app-brand-logo demo">
          <img src="{% static 'img/logo.svg' %}" width="75" alt="brand logo">
        </span>
        <span class="demo menu-text fw-bolder ms-2">BulkSMS</span>
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1 mt-1">
      <!-- Home -->
      <li class="menu-item active">
        <a href="{% url 'ao_dash' %}" class="menu-link">
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div data-i18n="Analytics">Home</div>
        </a>
      </li>

      <!-- Layouts -->
      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">USERS</span>
      </li>
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
          <div data-i18n="Authentications">Authentications</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="{% url 'login' %}" class="menu-link">
              <div data-i18n="Basic">Sign In</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'register' %}" class="menu-link">
              <div data-i18n="Basic">Sign Up</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'forgot_password' %}" class="menu-link">
              <div data-i18n="Basic">Forgot Password</div>
            </a>
          </li>
        </ul>
      </li>

      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">SERVICES</span>
      </li>
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bxs-dashboard"></i>
          <div data-i18n="Authentications">Account Officer</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="{% url 'ao_dash' %}" class="menu-link">
              <div data-i18n="Basic">Dashboard</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'add_recharge' %}" class="menu-link">
              <div data-i18n="Basic">Recharge</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'add_trans' %}" class="menu-link">
              <div data-i18n="Basic">Transaction</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'create_customer' %}" class="menu-link">
              <div data-i18n="Basic">Create Customer</div>
            </a>
          </li>
        </ul>
      </li>
     
    </ul>
</aside>
<!-- / Menu -->